@page
@model SoftwareEngineeringProject.Pages.EventsModel
@{
}
<head>
    <link rel="stylesheet" type="text/css" href="./fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/util.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="./css/myEdit.css">
    <title>Events</title>
</head>
<body>
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post">
                <div class="container p-3">
                    <div class="row pt-4">
                        <div class="col-6">
                            <h2 class="text-primary">Events</h2>
                        </div>
                    </div>

                    <br /><br />
                    <div class="text-center">
                        <label class="text-white fs-20">Search By Event Name</label>
                        <div class="container-login100-form-btn">
                            <input class="searchInput" type="text" asp-for="searchText" placeholder="Search">
                            <button class="search-btn" asp-page-handler="search">
                                Search
                            </button>
                        </div>
                    </div>
                    <br /><br />
                    @if (Model.eventList != null && Model.eventList.Count() > 0)
                    {
                        <table class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="text-white fs-10">
                                        EventName
                                    </th>
                                    <th class="text-white fs-10">
                                        EventLocation
                                    </th>
                                    <th class="text-white fs-10">
                                        EventDate
                                    </th>
                                    <th class="text-white fs-10">
                                        NumberOfSlots
                                    </th>
                                    <th class="text-white fs-10">
                                        AvailableSlots
                                    </th>
                                    <th class="text-white fs-10">
                                        EventDescription
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Database.Event obj in Model.eventList)
                                {
                                    <tr>
                                        <td class="text-white fs-10" width="10%">@obj.EventName</td>
                                        <td class="text-white fs-10" width="10%">@obj.EventLocation</td>
                                        <td class="text-white fs-10" width="10%">@obj.EventDate</td>
                                        <td class="text-white fs-10" width="10%">@obj.NumberOfSlots</td>
                                        <td class="text-white fs-10" width="10%">@obj.AvailableSlots</td>
                                        <td class="text-white fs-10" width="30%">@obj.EventDescription</td>
                                        <td class="text-center">

                                            @if (Model.regEvents != null && Model.regEvents.Length >= 1)
                                            {
                                            <div class="w-75 btn-group" role="group">

                                                    @for (int counter = 0; counter < Model.regEvents.Length; counter ++)
                                                {
                                                    Database.Registration reg = Model.regEvents[counter];

                                                    @if (reg.Event_ID.Equals(obj._id))
                                                    {
                                                        <button class="btn mx-2" asp-area="" asp-page-handler="unregister" asp-route-id="@obj._id">
                                                            <i class="fa fa-check" style="color:white !important;" asp-page-handler="unregister"></i>
                                                        </button>

                                                        break;
                                                    }
                                                    else if (counter == Model.regEvents.Length - 1)
                                                    {
                                                        <button class="btn background-register-button mx-2" asp-area="" asp-page-handler="register" asp-route-id="@obj._id">

                                                            <i class="fa fa-plus text-black-important" aria-hidden="true" asp-page-handler="register"></i>
                                                        </button>


                                                    }

                                                }
                                            </div>



                                            }
                                            else
                                            {
                                                <button class="btn background-register-button mx-2" asp-area="" asp-page-handler="register" asp-route-id="@obj._id">
                                                    <i class="fa fa-plus text-black-important" aria-hidden="true" asp-page-handler="register"></i>
                                                </button>
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p> No category exists.</p>
                    }

                    <br /><br />


                </div>
            </form>
        </div>
    </div>
</body>